body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    background-color: #fffaf9;
    color: #444;
}

/* HERO */
.hero {
    background-position: center;
    height: 150vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

   
   
}

.overlay {
    background-color: rgb(244, 240, 240);
    color: #ffffff;
    text-align: center;
    padding: 0;
    border-radius: 0;
    margin: 0;
   
}

.overlay h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.overlay .subtitle {
    font-style: italic;
    font-size: 1.3rem;
}

/* SECTIUNI CU TEXT SI POZA */
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.intro, .event {
    background-color: #fff;
}

.text {
    flex: 1;
    min-width: 300px;
}

.text h2 {
    font-size: 2rem;
    color: #b76e79;
    margin-bottom: 1rem;
}

.text p {
    font-size: 1.1rem;
    line-height: 1.7;
}

.photo {
    flex: 1;
    text-align: center;
}

.photo img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.4s ease;
}

.photo img:hover {
    transform: scale(1.03);
}

/* GALERIE */
.gallery {
    text-align: center;
    background-color: #f9f1f3;
    padding: 70px 10%;
}

.gallery h2 {
    color: #b76e79;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.grid img:hover {
    transform: scale(1.05);
}

/* CONFIRMARE */
.confirm {
    text-align: center;
    padding: 70px 20px;
}

.confirm h2 {
    font-size: 2rem;
    color: #b76e79;
}

.confirm img {
width: 60px;
height: 60px;


}

.btn {
    display: inline-block;
    margin-top: 15px;
    background: #b76e79;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background: #a15f68;
}

/* FOOTER */
footer {
    background-color: #f4e3e7;
    text-align: center;
    padding: 25px;
    font-style: italic;
    color: #333;
}
